h1, a {
    text-decoration: none !important;
    color: #C25100;
}

.wrap {
    max-width: 1250px;
    margin: 0 auto;
    background: #fff;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1140px;
}

.card-title {
    color: black;
}


.card-body{
    opacity: 0.8;
    transition:0.2s;
}

.card-body:hover {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-menu{
    opacity: 0.8
}

.dropdown-menu:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.modal-footer {
    border: none;
}

.modal-title {
    margin: 0 auto;
}

.col {
    flex-basis: auto;
}

.btn-sm {
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer {
    background: #262626;
}
